{
    "presets": [
      "@babel/preset-react",
      "@babel/preset-env"
    ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "decorators-legacy" // افزونه‌های نحوی دیگر
    ]
  }
  